.wetherBg{
    /* background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg"); */
    background-color: rgb(28, 39, 38);
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    object-fit: cover;
 
 }
  .heading{
    color:white;
    font-weight: 700;
  }
  .wetherResultBox{
    margin: 20px ;
    width: 20rem;
    height: 38rem;
    margin-bottom: 10rem;
  }
  .weathorIcon{
    margin-top: 1rem;
    width: 100px;
    height: 100px;
  }
  .weathorCity{
    font-size: 35px;
  }
  .weathorTemp{
    font-size:18px;
    font-weight: 400;
  }
  
.main{
  text-align: center;
}
  .list{
    display:flex;
  }
  .oneline{
    display: inline-block; 
justify-content:center;
text-align:center;

  }
  .icone{
    height:5rem;
    width:5rem;
  }