.heading {
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 2vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    text-align: center;
    justify-content: center;
    margin-left: 35vw;
}

.error {
    color: red;
}

.inputField {

    border-top: 0;
    border-right: 0;
    border-left: 0;
}